/*

main

*/

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.header{
	padding: 13px 0;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	
	&__container{
		max-width: 1420px;
	}
	
	.col{
		flex-grow: 0;
	}
	
	&__toggle{
		margin-right: 32px;
		border: none;
		
		span{
			display: block;
			width: 18px;
			height: 2px;
			background-color: #000000;
			margin-top: 6px;
			
			a:hover &{
				background: #7783a0;
			}
			
			a:active &{
				background: #0fd4fd;
			}
			
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	
	&__logo{
		margin-right: 70px;
		
		@media (max-width: 768px) {
			margin-right: 0;
		}
	}
	
	&__btns{
		@media (max-width: 768px){
			margin: 15px auto;
		}
	}
	
	&__search{
		
		@media (max-width: 768px){
			margin: 15px auto;
		}
		
		&.col{
			flex-grow: 1;
		}
		
		
		&-form{
			width: 100%;
		}
		
		&-input{
			display: block;
			border: none;
			border-bottom: 1px solid #141414;
			padding: 8px 8px 8px 36px;
			background: #fff url("../images/i-search.svg") no-repeat left center;
			letter-spacing: 0.14px;
			color: #000000;
		}
	}
	
	
}

.btn{
	&_header{
		//padding: 14px;
		
		&+&{
			margin-left: 9px;
		}
	}
	
	&-standart{
		border: 1px solid #ebeff4;
	}
	
	&_city{
		white-space: nowrap;
		width: 150px;
		flex: 150px 0 0;
		overflow: hidden;
		text-overflow: ellipsis;
		
		img{
			margin-right: 13px;
		}
	}
	
	&-white{
		border: 2px solid #ffffff;
		background-color: #ffffff;
		
		color: #5b7af6;
		letter-spacing: 0.14px;
		font-weight: 700;
		
		&:hover{
			opacity: 0.8;
		}
		
		&:active{
			opacity: 0.5;
		}
	}
	
	&-white-invert{
		border: 2px solid #ffffff;
		color: #ffffff;
		background: transparent;
		
		&:hover{
			background: #fff;
			color: #5b7af6;
		}
		
		&:active{
			opacity: 0.5;
		}
	}
	
	&-dash{
		border: 1px dashed #d1d6dc;
		color: #7783a0;
		
		&:hover{
			border-color: #000;
			color: #000;
		}
	}
}


.user-info{
	min-width: 155px;
	flex: 155px 1 0;
	
	@media (max-width: 768px){
		margin-left: auto;
	}
	
	&__ava{
		margin-right: 9px;
		width: 42px;
		height: 42px;
		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	&__name{
		font-size: 13px;
		letter-spacing: 0.39px;
		margin-bottom: 6px;
	}
	
	&__exit{
		font-size: 13px;
		text-decoration: underline;
		letter-spacing: 0.39px;
		
		&:hover{
			text-decoration: underline;
		}
	}
}

.main{
	position: relative;
	max-width: 100%;
	
	&:before{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 176px;
		content: '';
		background-image: linear-gradient(to right, #6d66f5 0%, #00e5fe 100%);
		
		@media (max-width: 768px){
			height: 300px;
		}
	}
	
	&__btns{
		padding-top: 20px;
		padding-bottom: 20px;
		
		@media (max-width: 768px){
			.btn{
				margin-bottom: 15px;
				width: 200px;
				display: block;
				margin-left: auto;
				margin-right: auto !important;
			}
		}
	}
}


.sidebar{
	border-radius: 3px;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 40px;
	
	&__url{
		padding: 15px;
		border-bottom: 1px solid #f1f1f1;
	}
	
	&__label{
		margin-bottom: 10px;
		color: #7783a0;
		display: block;
	}
	
	&__tags{
		padding: 15px;
	}
	
	&__textarea{
		min-height: 70px !important;
	}
	
	&__tags-container{
		position: relative;
	}
	
	&__tags-list{
		//position: absolute;
		//left: 0;
		//top: 0;
		//width: 100%;
		//height: 100%;
		padding: 10px 0;
	}
	
	&__tag{
		display: inline-block;
		margin: 0 5px 5px 0;
		padding: 5px 6px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		
		&-text{
			display: inline-block;
			vertical-align: middle;
			margin-right: 3px;
			color: #333;
			font-size: 13px;
		}
		
		&-del{
			display: inline-block;
			vertical-align: middle;
			color: #000000;
		}
	}
	
	&__date,
	&__add{
		padding: 0 15px 15px;
	}
	
	&__add{
		padding: 0 15px 7px;
	}
	
	&__add-btn{
		color: #7783a0;
		display: inline-block;
		line-height: 24px;
		margin-bottom: 22px;
		
		&:hover{
			text-decoration: underline;
		}
	}
	
	&__socials{
		padding: 0 15px 15px;
		
		&-item{
			margin-right: 20px;
			width: 25px;
			height: 25px;
		}
		
		&-link{
			display: block;
			width: 100%;
			height: 100%;
			
			&_1{
				background: url("../images/socials/yt.svg") no-repeat center left / 100%;
				
				&:hover{
					background: url("../images/socials/yt-hover.svg") no-repeat center left / 100%;
				}
				
				&.active{
					background: url("../images/socials/yt-act.svg") no-repeat center left / 100%;
				}
			}
			
			&_2{
				background: url("../images/socials/v.svg") no-repeat center left / 100%;
				
				&:hover{
					background: url("../images/socials/v-hover.svg") no-repeat center left / 100%;
				}
				
				&.active{
					background: url("../images/socials/v-act.svg") no-repeat center left / 100%;
				}
			}
			
			&_3{
				background: url("../images/socials/inst.svg") no-repeat center left / 100%;
				
				&:hover{
					background: url("../images/socials/inst-hover.svg") no-repeat center left / 100%;
				}
				
				&.active{
					background: url("../images/socials/inst-act.svg") no-repeat center left / 100%;
				}
			}
			
			&_4{
				background: url("../images/socials/cloud.svg") no-repeat center left / 100%;
				
				&:hover{
					background: url("../images/socials/cloud-hover.svg") no-repeat center left / 100%;
				}
				
				&.active{
					background: url("../images/socials/cloud-act.svg") no-repeat center left / 100%;
				}
			}
			
			&_5{
				background: url("../images/socials/house.svg") no-repeat center left / 100%;
				
				&:hover{
					background: url("../images/socials/house-hover.svg") no-repeat center left / 100%;
				}
				
				&.active{
					background: url("../images/socials/house-act.svg") no-repeat center left / 100%;
				}
			}
		}
	}
}

.hint{
	display: block;
	background: url("../images/i-info.svg") no-repeat;
	width: 14px;
	height: 14px;
}

.dashboard{
	padding: 18px;
	position: relative;
	height: 326px;
	margin-bottom: 17px;
	border-radius: 3px;
	overflow: hidden;
	
	@media (max-width: 768px){
		height: auto;
		padding: 0;
	}
	
	&__bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		@media (max-width: 768px){
			position: static;
			margin-bottom: 20px;
			height: 300px;
		}
		
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	&__content{
		position: relative;
		
		@media (max-width: 768px){
			background-image: linear-gradient(to right, #6d66f5 0%, #00e5fe 100%);
			padding: 20px;
		}
	}
	
	&__info{
		padding-top: 105px;
		
		&-descr{
			p{
				margin-bottom: 15px;
				text-shadow: 0 0 2px #000000;
				color: #ffffff;
				letter-spacing: 0.14px;
			}
			
			h1{
				margin-bottom: 15px;
				text-shadow: 0 0 4px #000000;
				color: #ffffff;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 700;
				letter-spacing: 0.24px;
			}
		}
		
		&-reactions{
			&-item{
				margin-right: 17px;
				
				&:after{
					content: '';
					margin-left: 16px;
					width: 1px;
					height: 12px;
					background-color: #ffffff;
					opacity: 0.2;
					display: block;
					
				}
				
				&:last-of-type:after{
					display: none;
				}
				
				&-number{
					margin-right: 5px;
					color: #ffffff;
				}
				&-icon{
					display: block;
					width: 15px;
					height: 15px;
					
					&_cal{
						background: url("../images/i-calendar.svg") no-repeat;
					}
					
					&_place{
						background: url("../images/i-place.svg") no-repeat;
					}
					
					&_like{
						background: url("../images/i-like.svg") no-repeat;
					}
				}
			}
		}
	}
	
	&__img{
		width: 125px;
		height: 125px;
		border-radius: 5px;
		background-color: #ffffff;
		margin-right: 36px;
		position: relative;
		
		&-inner{
			width: 94px;
			height: 94px;
			border-radius: 5px;
			border: 1px dashed #d1d6dc;
		}
	}
	
	&__mic{
		width: 42px;
		height: 42px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22);
		position: absolute;
		right: -21px;
		top: 50%;
		margin-top: -21px;
		border-radius: 50%;
		
		background: #fff url('../images/i-mic-2.png') no-repeat center;
	}
}

.description{
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 17px;
	
	&__nav{
		padding: 15px;
		border-bottom: 1px solid #f1f1f1;
		
		&-item{
			margin-right: 30px;
			
			@media (max-width: 768px) {
				margin: 10px 5px;
			}
		}
		
		&-link{
			color: #000000;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.42px;
			
			&:hover{
				text-decoration: underline;
			}
			
			.active &{
				color: #21bffb;
			}
		}
	}
	
	&__form{
		padding: 15px;
		
		&-label{
			margin-bottom: 10px;
			color: #7783a0;
			display: block;
		}
		
		&-textarea{
			height: 70px !important;
		}
	}
}

.events{
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 100px;
	
	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
	
	&__form{
		padding: 15px 36px;
		border-bottom: 1px solid #f1f1f1;
		
	}
	
	&__title{
		display: flex;
		flex-direction: row;
		font-weight: 700;
		letter-spacing: 0.14px;
		margin-right: 70px;
		line-height: 21px;
		
		@media (max-width: 768px) {
			flex: 100% 0 0;
			margin-bottom: 15px;
		}
		
		&:before{
			display: block;
			content: '';
			margin-right: 15px;
			
			background: url("../images/i-mic-2.png") no-repeat;
			width: 19px;
			height: 21px;
		}
	}
	
	&__search{
		flex-grow: 1;
		
		&-input{
			width: 100%;
			min-width: 180px;
		}
	}
	
	&__eye{
		background: url("../images/i-eye.svg") no-repeat;
		width: 18px;
		height: 11px;
		margin-left: 25px;
		flex: 18px 0 0;
	}
	
	&__line{
		margin-left: 25px;
		height: 40px;
		width: 1px;
		background-color: #f1f1f1;
		display: block;
	}
	
	&__btn-plus{
		border: none;
		background: transparent;
		margin-left: 13px;
		padding: 0;
		
		&-icon{
			width: 35px;
			height: 35px;
			border-radius: 5px;
			background: url("../images/i-plus.svg") no-repeat;
			display: block;
		}
		
	}
	
	&__list{
		padding: 21px 19px;
		
		&-item{
			padding: 13px 25px;
			width: 49%;
			cursor: pointer;
			background: #fff;
			
			&:active{
				box-shadow: 0 6px 16px rgba(37, 32, 57, 0.2);
			}
			
			@media (max-width: 768px){
				width: 100%;
			}
		}
	}
	
	&__list-item-ava{
		width: 59px;
		height: 59px;
		flex: 59px 0 0;
		border-radius: 5px;
		background-color: #e7e7e7;
		position: relative;
		margin-right: 25px;
		
		.events__list-item:active &{
			background-color: rgba(33, 190, 251, 0.6);
		}
		
		&-icon{
			width: 27px;
			height: 27px;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22);
			background: #ffffff url("../images/i-sax.svg") no-repeat center;
			position: absolute;
			right: -13px;
			top: 50%;
			margin-top: -13px;
			border-radius: 50%;
			display: block;
		}
	}
	
	
	&__list-item-info{
		h3{
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.14px;
			margin-bottom: 7px;
			
			.events__list-item:active &{
				color: #0fd4fd;
			}
		}
		
		p{
			color: #a3b0b3;
			
			font-size: 13px;
			font-weight: 400;
			letter-spacing: 0.39px;
			margin-bottom: 7px;
			
			.events__list-item:active &{
				color: #0fd4fd;
			}
		}
		
		a{
			text-decoration: underline;
			font-size: 13px;
			
			.events__list-item:active &{
				color: #0fd4fd;
			}
		}
	}
}

.social__inputs{
	padding: 0 15px 15px;
}

.social__input{
	width: 100%;
	margin-bottom: 15px;
	
	padding-left: 45px;
	background-repeat: no-repeat;
	background-position: 10px center;
	
	&_yt{
		background-image: url("../images/socials/yt.svg");
	}
	
	&_vk{
		background-image: url("../images/socials/v.svg");
	}
	
	&_inst{
		background-image: url("../images/socials/inst.svg");
	}
	
	&_sound{
		background-image: url("../images/socials/cloud.svg");
	}
	
	&_home{
		background-image: url("../images/socials/house.svg");
	}
}

.events__aut{
	display: flex;
	flex-direction: row;
	padding: 10px 10px !important;
	
	span{
		font-style: normal;
		color: #000000;
	}
}